@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

* {
    box-sizing:border-box;
}

body{
    background-image: url("./Fireworks.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-style: italic;
    margin:0;
   
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 8rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
}